/** general styling **/

#root {
    -fx-background-color: white;
}


/** Widget Styling **/
.widget {
    -fx-border-color: black;
    -fx-background-color: white;
}

.widget-header {
    -fx-background-color: lightgrey;
}

.widget-title {
    -fx-text-fill: black;
}

.control-button {
    -fx-background-color: transparent;
    -fx-border-style: none;
}

/** Chart Styling **/
.chart {
    -fx-background-color: white;
}